.select-field {
  max-width: 200px;

  input {
    width: 100%;
  }

  svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
  }
}
