.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  color: white;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &.text {
    border-radius: 8px;
    padding: 8px 12px;
    background-color: #e31837;
    color: white;
  }

  &.outlined {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 12px;
    background-color: #e31837;
    color: white;
  }

  &.contained {
    border-radius: 8px;
    padding: 8px 12px;
    background-color: #e31837;
    color: white;
  }

  &.primary {
    background-color: #e31837;
  }

  &.secondary {
    background-color: #f2f2f2;
  }
}
