.productDetails {
  display: flex;

  .imgContainer {
    width: 400px;
    height: 400px;
  }

  .productDetailsImgContainer {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 12px;
    flex-shrink: 0;
    border: 1px solid gray;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .productDetailsContent {
    padding: 0 24px;
    width: 100%;

    .productDetailsTitle {
      margin-bottom: 20px;
    }

    .productDetailsDescription {
      margin-bottom: 20px;
    }

    .productDetailsPrice {
      font-size: 30px;
      font-weight: 500;
    }
  }

  .productDetailsPriceBlock {
    display: flex;
    gap: 20px;
  }

  .commentList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}
