@import '../../assets/styles/variables';

.app-header {
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: $main-color;
  color: green;

  .app-header-container {
    display: flex;
    align-items: center;
  }

  .app-nav-menu {
    display: flex;
    color: white;

    li {
      display: flex;
      align-items: center;
    }

    a {
      color: white;
      text-decoration: none;
      padding: 8px 12px;
      border-radius: 4px;

      &:hover {
        // background-color: darken($main-color, 10);
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .cart-container {
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 16px;
      svg path {
        fill: white;
      }
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 4px;
        right: -7px;
        background-color: red;
        border-radius: 50%;
        font-size: 12px;
        font-weight: 600;
        color: white;
      }
    }

    .user-container {
      // min-width: 200px;
    }
  }

  .app-header-logo {
    margin-right: auto;
    height: 70px;
    width: 70px;
  }
}
