.tab {
  background-color: transparent;
  border: 2px solid transparent;
  padding: 12px 16px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.2;

  &.tab-selected {
    color: blue;
    border-bottom: 2px solid blue;
  }
}
